* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    display: flex;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.3) ), url(img/donation5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content {
    width: 60%;
}

.content h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
}
.content p{
    text-align: center;
    padding: 10px;
}

.btn {
    padding: 15px 50px;
    text-decoration: none;
    background: orangered;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}